<h2>Enter a word here:</h2>
<form method="post" action="/">
<textarea cols="35" rows="1" name ="message"></textarea><br />
<input type="submit" value="Submit" />
<br />

</form> 
<br />
<a href="result">See results here</a>
<ul style="list-style:none;">
<% @words.each do |word| %>
  <li style="display:block;width:24%;height:50px;float:left;"><a href="/result#<%= word.id %>"><%= word.id %>. <%= word.name %></a>
  <br /><span><a href="/<%= word.id %>" style="color:red;">[delete]</a></span></li>
<% end %>
</ul>


  

  
